body {
  margin: o;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #e4f9f5;
}

.middle-container {
  background-color: red;
}

.bottom-container {
  background-color: blue;
}
